/* CODE BY CHRISTOPHER MONTERO D'OLEO */
main {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

a {
  text-decoration: none;
}

.form-content {
  display: flex;
  width: 900px;
  height: 400px;
  box-shadow: 0px 3px 6px rgba(112, 112, 112, 0.1);
}
.form-content .form-content__ilustration-content {
  width: 50%;
  background-color: #8faff5;
}
.form-content .form-content__ilustration-content .form-content__ilustration-content .ilustration {
  width: 100%;
}
.form-content .form_content__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-content .form_content__form h1 {
  text-align: center;
  text-transform: uppercase;
}
.form-content .form_content__form .input-control {
  margin-bottom: 1rem;
}
.form-content .form_content__form .input-control label {
  color: #263238;
  font-size: larger;
  margin-left: 1rem;
}
.form-content .form_content__form .input-control input {
  outline: none;
  padding-left: 1rem;
  border: 1px solid #000000;
  width: 300px;
  height: 35px;
  border-radius: 41px;
  font-size: medium;
}
.form-content .form_content__form .input-control input:focus {
  border-width: 1px;
  border-color: #407bff;
}
.form-content .form_content__form .input-control input::placeholder {
  font-size: medium;
}
.form-content .form_content__form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  width: 140px;
  height: 35px;
  border-style: none;
  font-size: medium;
  border-radius: 41px;
  box-shadow: 0px 3px 6px rgba(112, 112, 112, 0.165);
  transition: all 0.5s ease;
}
.form-content .form_content__form .btn-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.form-content .form_content__form .btn--login {
  background-color: #407bff;
}
.form-content .form_content__form .btn--login:hover {
  background: #8faff5;
}
.form-content .form_content__form .btn--login img {
  width: 30px;
  height: 30px;
}
.form-content .form_content__form .btn--back {
  border: #407bff 1px solid;
}
.form-content .form_content__form .btn--back svg {
  stroke: #407bff;
  fill: none;
  width: 35px;
}
.form-content .form_content__form .btn--back:hover svg {
  stroke: #ffffff;
}
.form-content .form_content__form .btn--back:hover {
  background: #407bff;
}
.form-content .form_content__form .btn--create {
  background: #407bff;
}
.form-content .form_content__form .btn--create svg {
  width: 30px;
  fill: #ffffff;
}
.form-content .form_content__form .btn--register {
  margin-top: -10px;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #407bff;
  color: #407bff;
}
.form-content .form_content__form .btn--register:hover {
  background: #407bff;
  color: #ffffff;
}
.form-content .form_content__form .btn--register a {
  color: #407bff;
}
.form-content .form_content__form hr {
  width: 200px;
  background-color: #707070;
}
.form-content .form_content__form a {
  color: #407bff;
}

/*# sourceMappingURL=main.css.map */
